*
  box-sizing: border-box
  color: white



body
  background-color: black
  height: 100vh
  width: auto
  margin: 0



.wrapper
  width: 98%
  margin: 0 auto
  height: 100%



.content
  height: 100%
  width: 100%s
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.header
  margin-bottom: 0px

.left
  width: 50%
  float: left
  display: inline-block

.right
  width: 50%

  float: right
  display: inline-block

.hands
  height: auto
  width: 100%

.fist
  height: auto
  width: 100%


.thumbs
  height: 100%
  width: auto
  display: flex
  justify-content: flex-start

  cursor: pointer

  img
    height: 100%
    width: auto

.footer
  position: absolute
  bottom: 0
  padding: 0 1%
  display: flex
  justify-content: space-between
  align-items: center
  width: 99%
  height: 100px

  .score
    h3
      display: inline-block

.wins
  color: green

.losses
  color: red
